@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    @apply
    bg-back
    flex
    justify-center
    h-full


}
html {
    @apply h-full;
}
#root{
    @apply h-full;
}

input{
    @apply border-slate-200 border-2 rounded;
}
select{
    @apply border-slate-200 border-2 rounded;
}
a{
    @apply
    my-3
    text-violet-900
    hover:underline
}

button{
    @apply bg-violet-900 text-white py-3 px-5 m-2  rounded-3xl
    hover:bg-violet-500
}